

.cartMain{
    display: flex;
    flex-direction: column;
    overscroll-behavior: contain;
    position: fixed;
    top: 0;
    right: 0;
    width: 26vw;
    height: 100dvh;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #fff;
    /* border: 1px black solid; */
    padding: 18px 15px 0 15px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: 0.4s all linear;
}
.cartTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    /* border-bottom: 1px var(--color-border) solid; */
    touch-action: none;

}
.cartTop h3{
    font-size: 16px;
    /* font-family: "cormonant",sans-serif; */
    font-family: "inter", sans-serif;
    font-weight: 500
}

.cartTopCloseIcon{
    line-height: 0;
    transition: 0.2s all ease-out;
    &:hover{
        background-color: var(--color-primary-light);
        border-radius: 50%;
        transform: scale(1.14);
        cursor: pointer;
    }
}

/*  */
.emptyCartContent {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.emptyCartContent img{
    width: 210px;
}
.emptyCartContent h3{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "inter",sans-serif;
}

/*  */
.cartOfferHeadline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    text-align: center;
    background-color: var(--color-primary-light);
    color: #fff;
    border-radius: 8px;
    padding: 6px 0;
    touch-action: none;
    /* font-family: 'dormonant',sans-serif; */
}
.cartOfferHeadline span{

    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: var(--color-text-secondary);

}
.cartOfferHeadline b{
        color: var(--color-primary);
}
.cartOfferHeadline svg{
    color: var(--color-primary);
    font-size: 22px;
    line-height: 0;
}

/*  */
/*  */
.cartBody {
    flex: 1;
    min-height: 0;
    
    margin-top: 14px;
    /* overflow-y: scroll; */
    
    overflow-y: auto;
    overscroll-behavior: contain;
     -ms-overflow-style: none;
     scrollbar-width: none;
}
.cartBody::-webkit-scrollbar {
    display: none;
}
.cartItems{
    background-color: #f4f4f5;
    border-radius: 16px;
}

.cartItem{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 13px;
    /* background-color: #f4f4f5; */
    /* border-radius: 12px; */
    border: none;
    padding: 10px 12px;
    border-bottom: 1px var(--color-border) solid;
}
.cartItemImage {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px var(--color-border) solid;
    background: #fff;
    border-radius: 12px;
    /* width: 23%; */
    width: 72px !important;
    height: 72px !important;
    /* padding: 2px; */
}
.cartItemImage img{
    width: stretch;
}

.cartItemDetails {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 9px;
}
.cartItemMid{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.cartItemMid h5 {
    font-size: 12px;
    color: var(--color-text-secondary);
    font-weight: 600;
    
}

.cartItemDetails h2{
    font-size: 12px;
    font-weight: 500;
    font-family: "inter",sans-serif;
    line-height: 1.4;
    color: var(--color-text-primary);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cartUpdationItems{
    display: flex;
    align-items: center;
    gap: 12px;
}
.cartBinIcon {
    line-height: 0;
}
.cartBinIcon svg{
    /* color: var(--color-text-secondary); */
    color: var(--color-primary);
    font-size: 25px;
    width: max-content;
    /* font-size: 18px; */
    border: 1px var(--color-text-muted) solid;
    
    padding: 4px 6px;
    border-radius: 4px;
    transition: 0.2s all ease-in;
    &:hover{
        border: 1px var(--color-text-primary) solid;
        cursor: pointer;
    }
}
.cartQtynBox{
    width: max-content;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 3px 10px;
    border-radius: 8px;
    /* justify-content: center; */
    background-color: #fff;
    border: 1px var(--color-border) solid;
}
.cartQtynBox svg{
    color: var(--color-primary);
    font-size: 14px;
    transition: 0.2s all ease-out;
    &:hover{
        transform: scale(1.18);
        color: var(--color-text-primary-dark);
        cursor: pointer;
    }
}
.cartQtynBox span{
    font-size: 14px;
}
.cartItemprice {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1px;
}
.cartItemprice h4{
    font-size: 15px;
    font-weight: 500;
    font-family: "inter",sans-serif;
    color: var(--color-primary);
}
.cartItemprice h5{
    font-size: 11px;
    font-family: "inter",sans-serif;

    font-weight: 400;
    color: var(--color-text-secondary);

}

/* cart bottom */
.cartBottom{
    width: 100%;
    /* position: absolute; */
    left: 0;
    bottom: 0;
    box-shadow: rgba(175, 175, 175, 0.3) 0px -1px 5px 0px;
    touch-action: none;
    flex-shrink: 0;
}
.cartBottmDiv{
    padding: 0 0px 20px;
}

.cartBottomTotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;

}

.cartBottomTotalLeft{
    display: flex;
    gap: 6px;
    align-items: center;
}
.cartBottomTotalLeft svg{
    color: var(--color-primary);
    font-size: 21px;
}
.cartBottomTotalLeft p{
    font-size: 15px;
    font-weight: 500;
}
.cartBottomTotalRight{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
}
.cartBottomTotalRight div{

    display: flex;
    align-items: center;
    gap: 4px;
}
.cartBottomTotalRight h4{
    font-size: 18px;
    font-weight: 700;
    font-family: "inter",sans-serif;
}
.cartBottomTotalRight h5{
    font-size: 13px;
    font-weight: 500;
    color: var(--color-text-secondary);
}
.cartBottomTotalRight p{
    font-size: 12px;
    font-weight: 500;
}
.cartBottomTotalRight p {

    font-family: "dormonant", sans-serif;
    font-weight: 700;
     background: linear-gradient(
    110deg,
    #5f2b7a 35%,
    #ffffff 50%,
    #5f2b7a 65%
  );

  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;

  animation: shine 2.9s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.cartBottomCheckoutbtn button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 18px;
    font-size: 16px;
    transition: 0.2s all ease-in;
    &:hover{
        background: var(--color-primary-dark);
        cursor: pointer;
    }
}




/* res,monive */


@media screen and (max-width:480px) {

    .cartMain{
        width: 100%;
        border-radius: 0;
        height: 100dvh;
        
    }
}